<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: meta"></th:block>
    <th:block th:replace="fragments/head :: style"></th:block>
    <th:block th:replace="fragments/head :: script"></th:block>
    <th:block th:replace="fragments/head :: title"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>

<div class="container">

    <div class="container col-sm center-block">
        <div class="container">
            <h1 class="mt-4 mb-4">All Users</h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,iter : ${users}" th:object="${users}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <th><a class="btn btn-secondary" th:href="@{'/user/edit/' + ${user.getId()}}">Edit</a></th>
                    <th><a class="btn btn-secondary" th:href="@{'/user/delete/' + ${user.getId()}}">Delete</a></th>
                    <th><a class="btn btn-secondary" th:href="@{'/user/myProfile/' + ${user.getId()}}">General</a></th>
                    <th><a class="btn btn-secondary" th:href="@{'/user/editPersonalInfo/' + ${user.getId()}}">Change Info</a></th>
                    <th><a class="btn btn-secondary" th:href="@{'/user/editPassword/' + ${user.getId()}}">Reset Pass</a></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>