<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>

<div class="container">
    <br/>

    <div class="container col-sm center-block">
        <h3 class="text-center">Account Settings</h3>
        <br/>
        <div class="row">
            <div class="list-group col-sm-4">
                <a href="/user/myProfile" class="side-bar-singleCol list-group-item ">General
                </a>
                <a href="/user/editPersonalInfo" class="side-bar-singleCol list-group-item">Change Info
                </a>
                <a href="/user/editPassword" class="side-bar-singleCol list-group-item active-cell">Change Password
                </a>
                <a href="/standing" class="side-bar-singleCol list-group-item">Delete Profile
                </a>
            </div>

            <div class="tab-pane col-sm-8 center-block" id="editPassword">
                <!--/*@thymesVar id="passwordDTO" type="ex.guesser.areas.user.models.binding.UpdatePasswordBM"*/-->
                <form th:object="${passwordDTO}" th:action="@{'/user/editPassword'}" th:method="POST">
                    <h5>Edit Password</h5>
                    <div class="form-group">
                        <div class="form-group" th:classappend="${#fields.hasErrors('oldPassword')} ? 'has-danger'" >
                            <label for="oldPassword">Old Password</label>
                            <input type="password" name="oldPassword" class="form-control" id="oldPassword" th:field="${passwordDTO.oldPassword}"/>
                            <th:block th:if="${#fields.errors('oldPassword').size()>0}" >
                                <div>
                                    <small style="color: tomato" th:text="${#fields.errors('oldPassword').get(0)}"></small>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-danger'" >
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" id="password" th:field="*{password}"/>
                            <th:block th:if="${#fields.errors('password').size()>0}" >
                                <div>
                                    <small style="color: tomato" th:text="${#fields.errors('password').get(0)}"></small>
                                </div>
                            </th:block>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-danger'" >
                            <label for="confirmPassword">Confirm New Password</label>
                            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"/>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </div>


</div>
</body>
</html>